.card {
  height: 320px;
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 1px rgba(0,0,0,0.1)
}
.card-img {
  min-height: 240px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.card-content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.content-header {
  width: 250px;
  overflow: hidden;
}

